{% extends "patient/header.html" %}

{% block sidebar %}
    <ul>
        <li href="#">abcd</li>
    </ul>
{% endblock %}
{% block content %}

<div align="center" class="panel panel-primary col-lg-12" style="padding: 10px;" border="1">
    <table class="table table-hover">
        <tr>
            <td class="warning">Id</td><td > {{ bloodgroup.bloodgroupId }}</td>

            <td class="warning">BloodGroup Details</td><td >{{ sprint.bloodgroup.bloodgroupDetail }}</td>
        </tr>

      
    </table>
</div>
<br />


</div>
</body>
</html>
{% endblock %}