{% extends "patient/header.html" %}

{% block sidebar %}
    <div>
    <ul>
    {% for summary in group_summary %}
        <li>  {{ summary.bloodgroupId__avg  }}</li>
        <li>  {{ summary.bloodgroupId__min  }}</li>
        <li> {{ summary.bloodgroupId__max   }}</li>

    {% endfor %}
    </ul>
    </div>

{% endblock %}

{% block content %}

<table class="table table-striped table-bordered table-condensed">
<tr>
    <th> Group Id</th>
    <th> Group Details</th>
    <th> No of patients</th>
</tr>
{% for groupCount in groupwise_count %}
    <tr>

        <td> {{ groupCount.bloodgroupId }} </td>
        <td> {{ groupCount.bloodgroupDetails }} </td>
        <td>{{ groupCount.patient__count}}</td>
    </tr>
{% endfor %}

</Table>


{% endblock %}

